body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

.inputMsgNb {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4px 6px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Inconsolata for Powerline", "Courier New";
  font-size: 12px;
  color: rgba(70,70,70,1);
  text-align: right;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.payloadBox {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4px 6px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Inconsolata for Powerline", "Courier New";
  font-size: 12px;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

*:focus {
    outline: 0;
}

#header {
	background-color: #90DDEE;
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #0F3E48;
}

#content {
	padding-left: 20%;
	padding-right: 20%;
	margin: 12px;
}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #aaa;
	padding: .1em .2em;
}

a:hover, a:focus {
	color: #fff;
	border-color: #036;
	background: #36c;
}


code {
	font-size: .9em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#footer {
	margin-top: 2em;
	text-align: center;
}

#result {
	text-align: center;
}

textarea {
	background: #eee;
	border: 3px double grey;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	/*margin: 1em 0 .5em;*/
	padding: .7em;
	resize: vertical;
	min-height: 20em;
	font-size: 10px;
}

strong {
	padding: 3px;
	background: #90DDEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.description {
  font-weight: bold;
}

.icon {
    width: 32px;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 5px;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #0F3E48;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  background: #c5c5c5;
  padding: 5px 8px 5px 8px;
  border-style: none;
  width: 80px;
  float: right;
  margin-left: 3px;
}

.btn:hover {
  background: #90DDEE;
  text-decoration: none;
}

#buttonCtn {
  width: 40%;
  margin: 0 auto;
}